.header_top {
    /* border: 1px solid red; */
    
    background-color: #2c3f50;
}

.header_bottom, .about {
    background-color: #1abc9c;
}

.row {
    /* border: 2px dashed lime; */
}

.container {
    /* border: 1px solid red; */
}

.menu li {
    font-size: 12px;
}

header .header_bottom .star_line hr,
.about .about_header .star_line hr {
    border: 2px solid white;
    width: 15%;
}

.portfolio_header, .contact_me_header {
    color: #2c3f50;
}

.portfolio_header .star_line hr,
.contact_me_header .star_line hr {
    border: 2px solid #2c3f50;
    width: 15%;
}

.download_btn {
    border: 1px solid white;
}

.contact_me_form > .row {
    border-bottom: 1px solid grey;
}

.message_row {
    height: 200px;
}

.send_btn {
    background-color: #1abc9c;
}